body{
    background-color: aqua;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
h1{
    color: blueviolet;
}
p{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
h2{
    color: brown;
}
.parrafo3{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
h4{
    color: brown;
}
.parrafo3{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
